body {
  background: #DCE1DE;
  color: #1F2421;
  max-width: 960px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;

}

nav {
  padding: 10px;
  margin: 14px 5px;
  border: 2px solid #49A078;
  border-radius: 8px;
  background-color: #9CC5A1;
  font-size: 1.1em;
}

a {
  color: #0f2e2f;
}

a:visited {
  color: #216869;
}

header {
  font-family: Impact, Charcoal, sans-serif;
  color: #216869;
  margin-left: 5px;
  background-image: url("garden-moss-stone-sett.jpg");
  padding: 0.5em;
  border-radius: 8px;
}

#footer-wrapper {
  position: relative;
  top: 10px;
  width: 100%;
  height: 1em;
  margin: 10px;
}

/*Added wrapper for footer in order to have footer stay
at the bottom of the page.
Wrapper needs a height for the footer not to intersect with other content,
especially at narrow widths.*/

footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 50%;
  left:1%;
  right:1%;
  font-size: 0.7em;
  color: #216869;
}
/*I'm not sure if there is a better way to center the footer.*/

.contact-disclaimer {
  border: 2px dashed #49A078;
  padding: 5px;
  border-radius: 8px;
  max-width: 480px;
}

#site-comparison {
  font-size: 0.8em;
  margin: 10px 5px;
  padding: 5px;
  border: 2px solid #49A078;
  border-radius: 8px;
}

#person-coding {
  width: 100%;
}

@media screen and (max-width: 350px) {
  #person-coding {
    display: none;
  }
  body {
    font-size: 0.85em;
  }
  #site-comparison {
    margin:auto;
  }
}